<div class="row" ng-controller="ContactsCtrl as contacts">
  <div class="large-10 columns">
    <div data-alert ng-show="contacts.msg" class="alert-box">{{ contacts.msg }}</div>
  
    <!-- show contact -->
    <div class="row" ng-show="contacts.contactShow">
      <div class="panel">
        <h3>{{ contacts.name }}</h3>
        <ul>
          <li><strong>Company:</strong>{{ contacts.company }}</li>
          <li><strong>Email Address:</strong>{{ contacts.email }}</li>
          <h5>Phone Numbers</h5>
          <li><strong>Work:</strong>{{ contacts.work_phone }}</li>
          <li><strong>Home:</strong>{{ contacts.home_phone }}</li>
          <li><strong>Mobile:</strong>{{ contacts.mobile_phone }}</li>
          <h5>Location Info</h5>
          <li>{{ contacts.street_address }}</li>
          <li>{{ contacts.city }}, {{ contacts.state }} {{ contacts.zipcode }}</li>
        </ul>
      </div>
    </div>
    
    <!-- form for adding new contact -->
    <form ng-submit="contacts.addFormSubmit()" ng-show="contacts.addFormShown">
      <h3>Add Contact</h3>
      <!-- Add Form -->
      <div class="row">
          <div class="large-6 columns">
            <label>Name:
              <input type="text" ng-model="contacts.name" placeholder="Contact Name" required />
            </label>
          </div>
          <div class="large-6 columns">
            <label>Email:
              <input type="text" ng-model="contacts.email" placeholder="Contact Email" required />
            </label>
          </div>
       </div>
       <div class="row">
          <div class="large-6 columns">
            <label>Company:
              <input type="text" ng-model="contacts.company" placeholder="Company Name" />
            </label>
          </div>
          <div class="large-6 columns">
            <label>Work Phone:
              <input type="text" ng-model="contacts.work_phone" placeholder="Work Phone" />
            </label>
          </div>
       </div>
       <div class="row">
          <div class="large-6 columns">
            <label>Mobile Phone:
              <input type="text" ng-model="contacts.mobile_phone" placeholder="Mobile Phone" />
            </label>
          </div>
          <div class="large-6 columns">
            <label>Home Phone:
              <input type="text" ng-model="contacts.home_phone" placeholder="Home Phone" />
            </label>
          </div>
       </div>
       <div class="row">
          <div class="large-6 columns">
            <label>Street Address:
              <input type="text" ng-model="contacts.street_address" placeholder="Street Address" />
            </label>
          </div>
          <div class="large-6 columns">
            <label>City:
              <input type="text" ng-model="contacts.city" placeholder="City" />
            </label>
          </div>
       </div>
       <div class="row">
          <div class="large-6 columns">
            <label>State:
              <input type="text" ng-model="contacts.state" placeholder="State" />
            </label>
          </div>
          <div class="large-6 columns">
            <label>Zip Code:
              <input type="text" ng-model="contacts.zipcode" placeholder="Zip Code" />
            </label>
          </div>
       </div>
       <div class="row">
          <div class="large-12 columns">
              <input type="submit" value="Add Contact" class="button" />
          </div>
       </div>
      </form>
    
    <!-- form for editing contact -->
    <form ng-submit="contacts.editFormSubmit()" ng-show="contacts.editFormShown">
      <h3>Edit Contact</h3>
      <!-- Edit Form -->
      <div class="row">
          <div class="large-6 columns">
            <label>Name:
              <input type="text" ng-model="contacts.name" placeholder="Contact Name" required />
            </label>
          </div>
          <div class="large-6 columns">
            <label>Email:
              <input type="text" ng-model="contacts.email" placeholder="Contact Email" required />
            </label>
          </div>
       </div>
       <div class="row">
          <div class="large-6 columns">
            <label>Company:
              <input type="text" ng-model="contacts.company" placeholder="Company Name" />
            </label>
          </div>
          <div class="large-6 columns">
            <label>Work Phone:
              <input type="text" ng-model="contacts.work_phone" placeholder="Work Phone" />
            </label>
          </div>
       </div>
       <div class="row">
          <div class="large-6 columns">
            <label>Mobile Phone:
              <input type="text" ng-model="contacts.mobile_phone" placeholder="Mobile Phone" />
            </label>
          </div>
          <div class="large-6 columns">
            <label>Home Phone:
              <input type="text" ng-model="contacts.home_phone" placeholder="Home Phone" />
            </label>
          </div>
       </div>
       <div class="row">
          <div class="large-6 columns">
            <label>Street Address:
              <input type="text" ng-model="contacts.street_address" placeholder="Street Address" />
            </label>
          </div>
          <div class="large-6 columns">
            <label>City:
              <input type="text" ng-model="contacts.city" placeholder="City" />
            </label>
          </div>
       </div>
       <div class="row">
          <div class="large-6 columns">
            <label>State:
              <input type="text" ng-model="contacts.state" placeholder="State" />
            </label>
          </div>
          <div class="large-6 columns">
            <label>Zip Code:
              <input type="text" ng-model="contacts.zipcode" placeholder="Zip Code" />
            </label>
          </div>
       </div>
       <div class="row">
          <div class="large-12 columns">
              <input type="submit" value="Update Contact" class="button" />
          </div>
       </div>
      </form>    
  
    <h3>My Contacts ({{ contacts.contacts.length }})</h3>
    <table>
      <thead>
        <tr>
          <td width="200px">Name</td>
          <td width="200px">Company</td>
          <td width="25%">Email</td>
          <td width="25%">Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="contact in contacts.contacts">
          <td><a ng-click="contacts.showContact(contact)">{{ contact.name }}</a></td>
          <td>{{ contact.company }}</td>
          <td>{{ contact.email }}</td>
          <td><a class="button tiny" ng-click="contacts.showEditForm(contact)">Edit</a>
            <a class="button tiny alert" ng-click="contacts.removeContact(contact)">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="small-12 large-2 columns">
    <a class="button large" ng-click="contacts.showAddForm()" ng-hide="contacts.addFormShown">+</a>
    <a class="button large" ng-click="contacts.hide()" ng-show="contacts.addFormShown">-</a>
    <a class="button large" ng-click="contacts.hide()" ng-show="contacts.contactShow">-</a>
  </div>
</div>
